body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.update-row {
    display: none;
    padding: 0 15px 0 15px;
}

.view-row {
    padding: 0 15px 0 15px;
}

.idExpense {
    display:none;
}